body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333333;
}

.pic {
    display: block;
    margin: 0 auto 1rem auto;
}

@media (min-width: 550px) {
    .pic {
        float: right;
        margin-left: 3rem;
    }
}


a {
    text-decoration: none;
}

.header {
    margin-top: 3%;
    margin-bottom: 3%;
    font-family:   "Neuton", "Arial Narrow", sans-serif;
    font-weight: 300;
    border-bottom: 2px dotted #dddddd;
}

.header a
{
    color: #000000;
}
.header a.current {
    color: #0000bb
}

.header a:hover {
    color: #0FA0CE;
}

.navline a {
    letter-spacing: -.1rem;
}

.navline p {
    font-size: 2.25rem;
    margin: 0;
}

.contactline p {
    font-size: 1.75rem;
}

h1 {
    font-size: 3.75rem;
    margin-bottom: 1rem;
}

@media (min-width: 550px) {
    .navline p { padding-top: 10px;}
}

@media (min-width: 650px) {
    h1 { font-size:4rem; }
    .navline p { font-size: 2.5rem; padding-top:10px;}
    .contactline p { font-size: 1.9rem; }
}

@media (min-width: 750px) {
    .navline p { font-size: 3rem; padding-top:6px; }
    h1 { font-size: 4.5rem; }
    .contactline p { font-size: 2.1rem; }
}


@media (min-width: 650px) {
    .main {
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media (min-width: 750px) {
    .main {
        margin-left: 7%;
        margin-right: 7%;
    }
}

ul {
/*    margin-left: 7%;
    margin-right: 7%;*/
}

@media (min-width: 550px) {
    ul {
        margin-left: 4%;
        margin-right: 4%;
    }
}

.paperlist {
    list-style-position: outside;
    line-height: 1.2;
    margin-left: 4.2rem;
}

@media (min-width: 550px) {
    .paperlist {
        margin-left: 6%;
        margin-right: 6%;
    }
}
       

.paperlist > li {
    position: relative;
    margin-bottom: 1.5rem;
}

a.cite {
    float: right;
}

.papertitle {
    font-style: italic;
}

.year {
    position: absolute;
    left: -6.2rem;
}

@media (min-width: 550px) {
    .year {
        left: -7rem;
    }
}


blockquote {
    color: #444444;
/*    line-height: 1.45;*/
    font-style: italic;
}


.courseinfo {
    text-indent: 50px;
}
